<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./Products.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
          <img class='product-image' src='https://cdn.chec.io/merchants/44787/assets/IRF6e74FRqU2FbTa%7Cproduct_1.jpg' alt='product' />
          <h3>name</h3>
          <p>Price</p>
        </li>
        <li>
            <img class='product-image' src='https://cdn.chec.io/merchants/44787/assets/IRF6e74FRqU2FbTa%7Cproduct_1.jpg' alt='product' />
            <h3>name</h3>
            <p>Price</p>
          </li>
          <li>
            <img class='product-image' src='https://cdn.chec.io/merchants/44787/assets/IRF6e74FRqU2FbTa%7Cproduct_1.jpg' alt='product' />
            <h3>name</h3>
            <p>Price</p>
          </li>
      </ul>
</body>
</html>